{% load static %}
<html>

<head>
    <title>Job Portal</title>
   <meta charset="utf-8">
  <meta name="viewport” contente="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    .nav-link{
    color: #2878d4 !important ;
    margin-right :4
    }


 .nav-link:hover {
  color: white !important ;
    font-weight : bold ;
    background-color : #3e82f0 ;
    border-radius : 20px;}

.navbar-brand:hover{
    color: #092cde !important ;

    }

</style>

</head>


<body>
{% include 'navigation.html' %}

{% block body %}
{% endblock %}



</body>


</html>